/* Common Css */

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.p-bg {
    background-color: #f7f9ff;
}


/* stat main css */

body,
h1,
h2,
h3,
h4,
h5,
p,
a,
span {
    font-family: 'Work Sans', sans-serif;
}

/* header section */

.header-section {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 6px 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}

.header-section a {
    color: #010101;
}

.header-logo {
    width: 30%;
}

.logo img {
    height: 60px;
    float: left;
    margin-right: 10px;
}

.logo span {
    display: inline-block;
    margin-top: 14px;
    font-size: 26px;
    font-weight: 500;
    transition: .4s;
}

.logo span:hover{
    color: #ccc;
}

.header-menu {
    width: 56%;
}

.header-button {
    width: 14%;
    text-align: right;
}

.header-btn {
    border: 2px solid #6278df;
    display: inline-block;
    padding: 11px 25px;
    margin-top: 10px;
    border-radius: 10px;
    color: #6278df !important;
    font-size: 17px;
    font-weight: 600;
    transition: .4s;
}

.header-btn:hover {
    background: #6278df;
    color: #fff !important;
    box-shadow: 3px 4px 20px 0 rgb(98, 120, 223, .6);
}
.primary-menu ul li {
    display: inline-block;
}

.primary-menu ul li a {
    display: inline-block;
    padding: 0 20px;
    font-size: 17px;
    line-height: 60px;
    transition: .4s;
}

.primary-menu ul li a:hover{
    color: #6278df;
}

/* dropdown menu */

.primary-menu span{
    display: none;
}

.primary-menu ul li {
    position: relative;
}

.primary-menu ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    text-align: center;
}

.primary-menu ul li ul li {
    display: block;
    text-align: left;
}

.primary-menu ul li ul li:first-child a{
    border-bottom: 1px solid #dfdfdf;
    display: block;
}

.primary-menu ul li:hover ul {
    opacity: 1;
    visibility: visible;
}

.primary-menu ul li .dropdown{
    position: absolute;
    left: 0;
    top: 100%;
    width: 250px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    text-align: center;
}

.primary-menu ul li .dropdown li a{
    border-bottom: 1px solid #dfdfdf;
    display: block;
}

.primary-menu ul li .dropdown li:last-child a{
    border-bottom: none;
}

/* banner section */

.banner-section {
    background: url("https://i.ibb.co/hyR8mS3/banner.jpg") center center / cover no-repeat;
    padding: 120px 0px;
    color: #fff;
    position: relative;
    z-index: 9;
    margin-top: 72px;
}

.banner-section::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: -1;
}

.banner-content h3 {
    font-size: 27px;
    font-weight: 400;
}

.banner-content h2 {
    font-size: 58px;
    margin: 39px 0;
}

.default-btn {
    color: #7d7d7d;
    padding: 20px 32px;
    background: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
    transition: .4s;
}

.default-btn:hover {
    background: #6278df;
    color: #fff;
}

/* banner bottom section */

.banner-bottom {
    background: #f7f9ff;
    padding: 100px 0;
}

.video-left {
    width: 47%;
    margin-left: 2%;
}

.content-right {
    width: 47%;
}

.content-right h3 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 30px;
}

.content-right p {
    color: #767676;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.7em;
}

/* service section */

.service-section {
    background: #fff;
    padding: 100px 0;
}

.section-title h1 {
    font-size: 58px;
    margin-bottom: 25px;
}

.section-title p {
    color: #767676;
    font-size: 24px;
    font-weight: 300;
}

/* service item */

.service-items {
    margin-top: 80px;
}

.service-box {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 30px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, .1);
    transition: .4s;
}

.service-box:hover{
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, .2);
}

.service-box:nth-child(3n+3) {
    margin-right: 0;
}

.s-icon {
    width: 50px;
    float: left;
    min-height: 158px;
    font-size: 48px;
    color: #6278df;
    margin-right: 20px;
}

.s-content {
    margin-top: 8px;
}

.s-content h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 25px;
}

.s-content p {
    color: #767676;
    font-size: 21px;
    line-height: 1.6em;
}

/* pricing table section */

.pricing-table-section {
    background: #f7f9ff;
    padding: 50px 0;
}

.pricing-table-section .section-title h2 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 30px;
}

.pricing-table-section .section-title p {
    font-size: 28px;
}

.pricing-tables {
    margin-top: 80px;
}

.pricing-table-item {
    width: 32%;
    margin-right: 2%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .1);
}

.pricing-table-item:nth-child(3) {
    margin-right: 0;
}

.p-heading {
    padding: 30px;
    border-bottom: 2px solid #ddd;
    transition: .4s;
}

.p-content {
    padding: 30px;
}

.p-heading h4 {
    font-size: 28px;
    font-weight: 500;
}

.p-heading h1 {
    margin: 40px 0;
    font-size: 60px;
}

.p-heading h1 span {
    font-size: 22px;
}

.p-heading h5 {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 22px;
}

.p-heading p {
    font-size: 22px;
    line-height: 1.3em;
    font-weight: 300;
}

.p-content ul {
    list-style: none;
}

.p-content ul li {
    margin: 25px 0;
    font-size: 22px;
    font-weight: 300;
    color: #767676;
}

.p-content ul li span {
    display: inline-block;
    font-size: 35px;
    color: #6278df;
    width: 45px;
}

.p-button .default-btn {
	color: #7d7d7d;
	padding: 20px 0;
	background: #fff;
	display: block;
	font-size: 20px;
	font-weight: 600;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 10px;
	transition: .4s;
	box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .3);
}

.p-button .default-btn:hover {
    background: #000 !important;
}

.pricing-table-item:hover .p-heading {
    background: #6278df;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.pricing-table-item:hover .p-button .default-btn {
    background: #6278df;
    color: #fff;
}

/* team section */

.team-section {
    padding: 100px 0;
}

.team-section .section-title h2 {
    font-size: 45px;
}

.team-members {
    margin-top: 80px;
}

.member {
    width: 23.47%;
    margin-right: 2%;
    background: #fff;
    transition: .4s;
}

.member:hover{
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .2);
}

.member:last-child{
    margin-right: 0;
}

.member img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.member-bio {
    padding: 30px;
}

.member-bio h4 {
    font-size: 25px;
    margin-bottom: 12px;
    font-weight: 500;
}

.member-bio p {
    color: #767676;
    font-size: 20px;
}

/* newslatter section */

.newslatter-section {
    padding: 100px 0;
}

.newslatter-section .section-title h2 {
    margin-top: 55px;
    font-size: 45px;
    font-weight: 400;
}

.newslatter-section .section-title p {
    font-size: 28px;
}

.newslatter-form {
    margin-top: 60px;
}

.default-input {
    width: 350px;
    padding: 20px 15px;
    font-size: 20px;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .1);
    transition: .4s;
    outline: none;
    box-sizing: border-box;
}

.default-input:focus {
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .6);
    border: 1px solid #6278df;
}

.submit-btn {
    background: #6278df;
    font-size: 23px;
    color: #fff;
    padding: 18px 90px;
    display: inline-block;
    margin-left: 15px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .2);
    border: 2px solid transparent;
    transition: .4s;
}

.submit-btn:hover {
    color: #6278df;
    border: 2px solid #6278df;
    background: #fff;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .6);
}

/* blog section */

.blog-section {
    padding: 100px 0;
    padding-top: 20px;
}

.blog-title {
    padding: 60px 0;
}

.bt-heading {
    width: 50%;
}

.bt-heading h2 {
    font-size: 45px;
    font-weight: 500;
    margin-top: 25px;
}

.bt-content {
    width: 50%;
}

.bt-content p {
    color: #767676;
    font-weight: 400;
    font-size: 21px;
    margin-left: 25px;
    line-height: 1.7em;
}

.blog-post-item {
    width: 48%;
    background: #fff;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .1);
    transition: .4s;
}

.blog-post-item:hover{
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .2);
}

.blog-post-item img {
    float: left;
    width: 300px;
    margin-right: 30px;
    border-radius: 4px 0 0 4px;
}

.blog-post-content h3 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 500;
}

.blog-post-content p {
    color: #767676;
    font-size: 20px;
    line-height: 1.6em;
}

/* feedback section */

.feedback-section {
    padding: 100px 0;
}

.section-title h2{
        font-size: 45px;
        font-weight: 400;
        margin-bottom: 30px;
}

.section-title p {
    font-size: 27px;
    margin-bottom: 15px;
}

.feedback-items {
    margin-top: 100px;
}

.f-item {
    width: 31%;
    margin-right: 3.5%;
    text-align: center;
}

.f-item:last-child {
    margin-right: 0;
}

.f-content {
    background: #fff;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .2);
    padding: 50px 40px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 60px;
    position: relative;
    transition: .4s;
}

.f-content:hover{
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .4);
}

.f-content::after {
    content: '';
    position: absolute;
    bottom: -19px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #ffffff transparent transparent transparent;

}

.f-content p {
    color: #767676;
    font-size: 22px;
    line-height: 1.8em;
    position: relative;
    margin-bottom: 0;
    font-weight: 300;
}

.f-content p::before{
    content: "\f10d";
    font-family: FontAwesome;
    font-size: 80px;
    position: absolute;
    opacity: .15;
    left: -17px;
    top: -4px;
}

.user-bio {
    position: relative;
    top: 13px;
    text-align: left;
}

.user-bio h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.user-bio span{
    display: inline-block;
    color: #767676;
    font-size: 17px;
}

.f-user-img{
    width: 250px;
    margin: auto;
}

.f-user-img img{
    border-radius: 50%;
    width: 80px;
    float: left;
    margin-right: 24px;
}

/* content & footer section */

.contact-section{
    padding-top: 80px;
}

.content-left-map{
    width: 48%;
}

.content-right-form {
    width: 42%;
    margin-top: 40px;
    margin-right: 35px;
}

.footer{
    padding: 20px 0;
    margin-top: 60px;
}

.footer p{
    font-size: 20px;
}

.contact-form{
    margin-top: 60px;
}

.contact-form .submit-btn{
    margin-left: 0;
    background: #6278df;
    font-size: 23px;
    color: #fff;
    padding: 18px 0;
    width: 100%;
    display: inline-block;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 3px 4px 30px 0 rgb(98 120 223 / 20%);
    border: 2px solid transparent;
    transition: .4s;
}

.contact-form .submit-btn:hover{
    color: #6278df;
    border: 2px solid #6278df;
    background: #fff;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .6);
}

.contact-form textarea{
    height: 200px;
}

.contact-form .w100{
    width: 100%;
}

.contact-form .w50{
    width: 48%;
}

.contact-form .default-input{
    margin-bottom: 20px;
}

.content-right-form p {
    font-size: 21px;
    color: #767676;
    font-weight: 300;
    line-height: 1.8em;
}
.content-right-form h4{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 22px;
}

input::placeholder{
    color: #d1d5de;
}


textarea::placeholder{
    color: #d1d5de;
}